<section class="section summary-section">
	<h2 class="section-title"><i class="fa fa-user"></i>Acerca de mí</h2>
	<div class="summary">
		<p>Mi principal objetivo es consolidar mi carrera profesional con retos constantes. No dejo de prepararme ya que el avance de la industria es tan rápido como un parpadeo, hoy existe algo y mañana una mejor versión de ello.</p>
		<p>Creo que ser proactivo es clave para poder lograr metas y por lo tanto un estado de éxito consigo mismo, así como también pienso que existen diferentes perspectivas de las cosas que nos pueden ayudar a mejorar en diferentes aspectos y que pueden hacer que un proyecto o una empresa cambie por completo su ruta a algo mejor, la mejora y adaptación continua son fundamentales para crecer.</p>
	</div>
</section>
