<div class="education-container container-block">
  <h2 class="container-block-title">Educación</h2>
  <div class="item">
    <h4 class="degree">Ingeniería en Tecnologías de la información y comunicación.</h4>
    <h5 class="meta">Universidad Tecnológica de Morelia</h5>
    <div class="time">Agosto, 2016 - Julio, 2018</div>
  </div>
  <!--//item-->
  <div class="item">
    <h4 class="degree">Técnico superior universitario en TIC.</h4>
    <h5 class="meta">Universidad Tecnológica de Morelia</h5>
    <div class="time">Agosto, 2014 - Diciembre, 2016</div>
  </div>
  <!--//item-->
  <div class="item">
    <h4 class="degree">Técnico en mantenimiento de equipo de cómputo.</h4>
    <h5 class="meta">CONALEP II Morelia</h5>
    <div class="time">Agosto, 2011 - Julio, 2014</div>
  </div>
  <!--//item-->
</div>
<!--//education-container-->
