<section class="section experiences-section">
  <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia</h2>

  <div class="item">
			<div class="meta">
				<div class="upper-row">
					<h3 class="job-title">Mid Developer de HCDental System</h3>
					<div class="time">Abril, 2019 &mdash; Junio, 2019</div>
				</div>
				<!--//upper-row-->
				<div class="company">HCDental</div>
			</div>
			<!--//meta-->
			<div class="details">
				<p>Me desempeñé desarrollando un sistema que administre expedientes dentales. Entre las actividades que realizé se encuentran las siguientes</p>
				<p>
					<ul class="resume-item-list">
						<li>Análisis de procedimientos.</li>
						<li>Planeación de tiempos por medio de análisis de puntos por función (ISO/IEC 14.143).</li>
						<li>Administrador de servidor.</li>
						<li>Seguimiento y resolución de problemas.</li>
						<li>Creación de módulos de pasarelas de pago via OXXO y suscripciones.</li>
					</ul>
				</p>
			</div>
			<!--//details-->
		</div>
		<!--//item-->

	<div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">ERP Mid Developer</h3>
        <div class="time">Mayo, 2018 &mdash; Actualmente</div>
      </div>
      <!--//upper-row-->
      <div class="company">Cruz Azul (Corporación Azul)</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Me desempeño desarrollando un sistema administrativo y fiscal. Entre las actividades que realizo se encuentran las siguientes</p>
      <p>
        <ul class="resume-item-list">
					<li>Análisis de procedimientos.</li>
          <li>Análisis de información en base a KPI's.</li>
          <li>Planeación de tiempos por medio de análisis de puntos por función (ISO/IEC 14.143).</li>
          <li>Administrador de servidor.</li>
          <li>Seguimiento y resolución de problemas.</li>
					<li>Creación de módulos de facturación.</li>
					<li>Creación de micro servicios.</li>
          <li>GSuite</li>
        </ul>
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Senior Developer of Geographic Information System</h3>
        <div class="time">Mayo, 2018 &mdash; Actualmente</div>
      </div>
      <!--//upper-row-->
      <div class="company">VISSAT</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Me desempeño desarrollando un sistema de rastreo satelital en tiempo real de automóviles, geozonas, geocercas, control de información así como una aplicación llamada <strong>Vissat Pocket</strong> la cual muestra información del transporte público en tiempo real además de las siguientes actividades:</p>
      <p>
        <ul class="resume-item-list">
          <li>Análisis para la generación de reportes.</li>
          <li>Seguridad de información.</li>
					<li>Creación y gestión socket UDP.</li>
          <li>Creación y gestión socket TCP.</li>
          <li>Procesamiento de información de unidades GPS.</li>
					<li>Información geografica (Polylines, Polygons, Location).</li>
          <li>Manejo de BigData.</li>
					<li>Manejo de mapas (Google Maps y Leaflet).</li>
					<li>Creación de micro servicios.</li>
					<li>Seguridad de la información.</li>
					<li>Administrador de servidor.</li>
					<li>Seguimiento y resolución de problemas.</li>
					<li>Desarrollo de <strong>Vissat Pocket</strong> aplicación móvil.</li>
        </ul>
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Microservices Developer</h3>
        <div class="time">Octubre, 2017 &mdash; Mayo, 2018</div>
      </div><!--//upper-row-->
      <div class="company">Valkiria Agencia Integral.</div>
    </div><!--//meta-->
    <div class="details">
      <p>Me desempeñé desarrollando servicios para consumirlos desde diferentes dispositivos, entre las diferentes actividades que realizaba se encuentran siguientes:</p>
      <p>
        <ul class="resume-item-list">
          <li>Análisis de procedimientos.</li>
          <li>Planeación de tiempos.</li>
          <li>Seguridad de la información.</li>
          <li>Seguimiento y resolución de problemas.</li>
        </ul>
      </p>
    </div><!--//details-->
  </div><!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Junior Developer (ERP & CRM)</h3>
        <div class="time">Abril, 2016 &mdash; Septiembre, 2017</div>
      </div>
      <!--//upper-row-->
      <div class="company">Cantera Digital.</div>
    </div>
    <!--//meta-->
    <div class="details">
      <p>Me desempeñé desarrollando software a medida, normalmente Web y apoyando en planeaciones, entre las tareas que realizaba se encuentran:</p>
      <p>
        <ul class="resume-item-list">
          <li>Análisis de procedimientos.</li>
          <li>Planeación de tiempos.</li>
          <li>Seguimiento y resolución de problemas.</li>
					<li>Creación de módulos para la gestión de material de construcción <strong>(Grupo Loros)</strong>.</li>
					<li>Creación de módulos para uso de CRM y sistema escolar <strong>(Instituto Montrer)</strong>.</li>
        </ul>
      </p>
    </div>
    <!--//details-->
  </div>
  <!--//item-->

  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Estudiante</h3>
        <div class="time">Agosto, 2014 &mdash; Julio, 2018</div>
      </div><!--//upper-row-->
      <div class="company">Universidad Tecnológica de Morelia</div>
    </div><!--//meta-->
    <div class="details">
      <p>En la universidad desarrollé algunos proyectos, los cuales me han dejado conocimientos en cuanto a análisis, planeación, implementación de buenas prácticas y desarrollo de software.
      <br/>
      Recientemente desarrolle un framework basado en MVC para javaEE con la finalidad de poder organizar de mejor manera los proyectos y facilitar el flujo de la información en los mismos.</p>
    </div><!--//details-->
  </div><!--//item-->
