<section class="section projects-section">
  <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
<!--   <div class="intro">
    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
  </div> -->
  <div class="item">
    <div class="meta">
      <div class="upper-row">
        <h3 class="job-title">Biosoul</h3>
        <div class="time">Diciembre, 2015 &mdash; Abril, 2018</div>
      </div><!--//upper-row-->
      <div class="company">Fundador & Desarrollador</div>
    </div><!--//meta-->
    <div class="details">
      <p>Es un sistema el cual sirve para administrar procesos de laboratorios de biotecnología.</p>
    </div><!--//details-->
  </div><!--//item-->
</section>
