<section class="skills-section section">
  <h2 class="section-title">
    <i class="fa fa-rocket"></i>Habilidades &amp; Comprtencias</h2>

  <div class="skillset">

    <div class="item">
      <h3 class="level-title">PHP</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Python</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="57%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">JavaSE</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">JavaEE</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">NodeJS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="55%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Codeigniter</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Laravel</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Flask</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="30%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Express</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">HTML</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Pug</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Liquid</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="70%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">CSS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Stylus</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="90%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">JavaScript</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Babel</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="80%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Angular</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="40%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">VueJS</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="80%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">JQuery</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Bootstrap</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="95%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Materialize</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="80%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">Gumby</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">MySQL</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">PostgreSQL</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="100%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">MongoDB</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="40%">
        </div>
      </div>
    </div>

    <div class="item">
      <h3 class="level-title">SCRUM</h3>
      <div class="level-bar">
        <div class="level-bar-inner" data-level="50%">
        </div>
      </div>
    </div>
  </div>

  <h2 class="section-title">
    <i class="fa fa-wrench"></i>Herramientas</h2>
  <div class="item">
    <div class="details">
      <p>Netbeans, Android Studio, Workbench, DBeaver, DBSchema, WinSCP, PuTTY, GitHub, BitBucket, GitLab, JIRA, Trello, TortoiseGit, SmartGit, SourceTree, SSH.
      </p>
    </div>
  </div>
</section>
